---
http_interactions:
- request:
    method: get
    uri: https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?filter%5BclinicianId%5D=1000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Version:
      - '2019-01-17'
      Application-Build-Version:
      - 0.0.0
      Application-Platform:
      - web
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
      Etag:
      - W/"6e4ad444fb8df2ed202e4b1757febd63"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"links":{"first":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?page%5Bnumber%5D=1&page%5Bsize%5D=10","last":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?page%5Bnumber%5D=1&page%5Bsize%5D=10"}}'
  recorded_at: Fri, 03 Feb 2023 15:35:17 GMT
recorded_with: VCR 6.1.0
